{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class= "grid grid-cols-2 ">
    <div>
        {{ form_label(form.name,'Imię Psa',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.name,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.name) }}
    </div>
    <div>
        {{ form_label(form.age,'Podaj Wiek (w latach)',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.age,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.age) }}
    </div>
    <div>
        {{ form_label(form.race,'Rasa',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.race,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.race) }}
    </div>
    <div>
        {{ form_label(form.sex,'Płeć',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.sex,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.sex) }}
    </div>
    <div >
        {{ form_label(form.image,'Zdjęcie Psa',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.image,{'attr':{'class':'w-11/12   shadow-sm border border-gray-300 rounded-md  p-2 mt-6 mb-2 block    mx-auto text-sm mb-2 text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-500  focus:outline-none'}})}}
        {{ form_errors(form.image) }}
    </div>
    <div>
        {{ form_label(form.guardian,'Opiekun',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.guardian,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.guardian) }}
    </div>
    <div>
        {{ form_label(form.status,'Status Psa',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.status,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.status) }}
    </div>
</div>
    <div class="px-4">
        {{ form_label(form.description,'Opis',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.description,{'attr':{'class':'w-full  h-32 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.description) }}
    </div>
    <button class="btn border-2 bg-green-500 w-full hover:bg-green-400 text-white ">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
