{% extends 'base.html.twig' %}

{% block title %}Zmień Opiekuna{% endblock %}

{% block body %}
    
    <div class = "flex-col justify-center w-1/6 mx-auto text-center mt-10 shadow-xl">
        <div class="mb-2 text-xl">Zmień Opiekuna psa {{dog.name}}</div>
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        <div>

            {{ form_label(form.guardian,'Opiekun',{'label_attr':{'class':'block'}}) }}
            {{ form_widget(form.guardian,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
            {{ form_errors(form.guardian) }}
        </div>
         <button class="btn border-2 bg-green-500 w-full hover:bg-green-400 text-white ">{{ button_label|default('Zapisz') }}</button>
        {{ form_end(form) }}
        <a href="{{ path('app_archives_dogs') }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white" >Zarchiwizowane Psy</div></a>
    </div>
    
    
{% endblock %}