{% extends 'base.html.twig' %}

{% block title %}Archiwum Spraw Adopcji{% endblock %}

{% block body %}
    <div class="flex-col   mt-10 ">
        <div class="text-2xl text-center mb-2 ">Zarchiwizowane Sprawy Adopcji</div>
        <table class="w-1/2 border-1 shadow-xl mx-auto">
            <thead class="text-center" >
                <tr>
                    <th class=" border-2">Id</th>
                    <th class=" border-2">Pies</th>
                    <th class=" border-2">Status</th>
                    <th class=" border-2">Klient</th>
                    <th class=" border-2">Pracownicy</th>
                    <th class=" border-2">Dokumenty</th>
                    <th class=" border-2">Opcje</th>
                </tr>
            </thead>
            <tbody class="text-center">
            {% for adoption_case in adoption_cases %}
                <tr>
                    <td class=" border-2">{{ adoption_case.id }}</td>
                    <td class=" border-2"><a href="{{ path('app_dog_show', {'id': adoption_case.dog.id}) }}">{{ adoption_case.dog}}</a></td>
                    <td class="border-2">
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('app_status_show', {'id': adoption_case.status.id}) }}">{{adoption_case.status}}
                        {% else %}
                            {{adoption_case.status}}
                        {% endif %}
                    </td>
                    <td class=" border-2"><a href="{{ path('app_user_show', {'id': adoption_case.client.id}) }}">{{ adoption_case.client}}</a></td>
                    <td class=" border-2"> 
                        {% for employee in adoption_case.employee %}
                            <div><a href="{{ path('app_user_show', {'id': employee.id}) }}">{{ employee.username }}</a></div>
                        {% endfor %}
                    </td>
                    <td class=" border-2">
                        {% for document in adoption_case.documents %}
                            <div><a href="{{ path('app_documents_show', {'id': document.id}) }}">{{ document.documentName }}</a></div>
                        {% endfor %}
                    </td>
                    
                    <td class=" border-2">
                        <div class="border-2 bg-green-500 w-full hover:bg-green-400 text-white"><a href="{{ path('app_adoption_case_restore', {'id': adoption_case.id}) }}">Przywróć</a></div>
                        <a href="{{ path('app_adoption_case_show', {'id': adoption_case.id}) }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white">Podgląd</div></a>
                        {{ include('adoption_case/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Main modal -->
<div id="defaultModal"  class="fixed  top-0.5 left-0.5 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full mx-auto top-1/3">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 ">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Niepowodzenie</h3>
            </div>
            <!-- Modal body -->
            <div class=" flex p-2">
                <div class="flex flex-col w-full text-white">
                    {% if dogHasActiveAdoptionCase is defined and dogHasActiveAdoptionCase == true %}
                            <p>Pies przypisany do tej sprawy ma obecnia aktywną inną sprawę adopcji. Nie można przywrócić tej sprawy do momentu zakończenia aktywnej.</p>                    
                            {% if  activeAdoptionCases is defined %}
                                <p>Aktywna Sprawa:</p>
                                {% for activeAdoptionCase in activeAdoptionCases %}
                                    <a href="{{path('app_adoption_case_show',{id:activeAdoptionCase.id})}}" target="_blank">{{activeAdoptionCase.id}}{{" "}}{{activeAdoptionCase.dog}}</a>
                                {% endfor %}                    
                            {% endif %}
                        
                    {% endif %}
                    {% if clientNotAvailable is defined and clientNotAvailable == true %}
                        <p>Klient przypisany do sprawy nie jest obecnie dostępny</p>                
                    {% endif %}
                    {% if allEmployeesArchived is defined and allEmployeesArchived == true %}
                        <p>Pracownicy przypisani do sprawy nie są dostępni</p>                
                    {% endif %}
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button onClick="modalHide()" type="button" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Potwierdź</button>
                {% if adoptionCaseToRestore is defined %}
                    <a href="{{path('app_adoption_case_edit',{id:adoptionCaseToRestore.id})}}" target="_blank" class="text-white bg-green-700 hover:bg-green-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Edytuj Sprawę</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script>
        function modalShow()
        {
              var x = document.getElementById("defaultModal");
                if (x.classList.contains('hidden')) 
                {
                    x.classList.remove('hidden');
                } 
        }
        function modalHide()
        {
            var x = document.getElementById("defaultModal");
                x.classList.add('hidden');
        }
    </script>

{% endblock %}
    {% if  (adoptionCaseToRestore is defined and adoptionCaseToRestore == true ) or (dogHasActiveAdoptionCase is defined and dogHasActiveAdoptionCase== true) %}
        <script>modalShow()</script>
    {% endif %}

    
{% endblock %}
