{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="flex-col   mt-10 ">
        <div class="text-2xl text-center mb-2 ">Dokumenty</div>
        <div class="text-xl text-center mb-2 text-green-500 hover:text-green-400"><a href="{{path('app_documents_new')}}">Dodaj Nowy Dokument</a></div>
        <table class="w-1/2 border-1 shadow-xl mx-auto">
            <thead class="text-center" >
                <tr>
                    <th class=" border-2">Id</th>
                    <th class=" border-2">Akronim Dokumentu</th>
                    <th class= "border-2">Plik</th>
                    <th class=" border-2">Status Dokumentu</th>
                    <th class=" border-2">Przypisany do sprawy</th>
                    <th class=" border-2">Opcje</th>
                </tr>
            </thead>
            <tbody class="text-center">
            {% for document in documents %}
                <tr>
                    <td class=" border-2">{{ document.id }}</td>
                    <td class=" border-2"><a href="{{ path('app_documents_show', {'id': document.id}) }}">{{ document.documentName}}</a></td>
                    <td class=" border-2 p-2"><a href="{{ path('app_documents_show', {'id': document.id}) }}">{{ document.documentSource|length > 30? document.documentSource|slice(0,26)~document.documentSource|slice(-4):document.documentSource}}</a></td>
                    {# <td class=" border-2"><a href="{{ path('app_documents_show', {'id': document.id}) }}">{{ document.documentSource}}</a></td> #}
                    <td class="border-2 p-2">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_status_show', {'id': document.status.id}) }}">{{document.status}}
                    {% else %}
                        {{document.status}}
                    {% endif %}
                    </td>
                    {% if document.AdoptionCase.id is defined %}
                    <td class=" border-2"> <a href="{{ path('app_adoption_case_show', {'id': document.AdoptionCase.id}) }}">{{document.AdoptionCase}}</a></td>
                    {% else %}
                    <td class=" border-2">brak</td>
                    {% endif %}


                    <td class=" border-2">
                        <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_documents_show', {'id': document.id}) }}">Podgląd</a></div>
                        <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_documents_preview', {'id': document.id}) }}" target="_blank">Podgląd Dokumentu</a></div>
                        <div class="border-x-2 border-b-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_documents_edit', {'id': document.id}) }}">Edycja</a></div>
                        <div class="border-x-2 border-b-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_documents_download', {'id': document.id}) }}">Pobierz</a></div>
                        <div class="border-x-2 border-b-2 bg-blue-500 w-full hover:bg-blue-400 text-white"><a href="{{ path('app_documents_archive', {'id': document.id}) }}">Archiwizacja</a></div>
                         {{ include('documents/_delete_form.html.twig') }}                 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<!-- Main modal -->
<div id="defaultModal"  class="fixed  top-0.5 left-0.5 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full mx-auto top-1/3">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 ">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Niepowodzenie</h3>
            </div>
            <!-- Modal body -->
            <div class=" flex p-2">
                {% if errorMessage is defined %}
                    <div class="flex flex-col w-1/2 text-white">
                        <p>{{errorMessage}}</p>
                    </div>
                {% endif %}
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button onClick="modalHide()" type="button" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        function modalShow()
        {
              var x = document.getElementById("defaultModal");
                if (x.classList.contains('hidden')) 
                {
                    x.classList.remove('hidden');
                } 
        }
        function modalHide()
        {
            var x = document.getElementById("defaultModal");
                x.classList.add('hidden');
        }
    </script>

{% endblock %}
{% if errorMessage is defined %}
    <script>modalShow()</script>
{% endif %}
{% endblock %}
