{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="flex-col mt-10">
    <div class="text-2xl text-center mb-2 ">Posty</div>
    <div class="text-xl text-center mb-2 text-green-500 hover:text-green-400"><a href="{{path('app_post_new')}}">Dodaj Nowy Post</a></div>
    <table class="table w-11/12 border-1 shadow-xl mx-auto">
        <thead class="text-center">
            <tr>
                <th class=" border-2">Id</th>
                <th class=" border-2">Tytuł</th>
                <th class= "border-2">Status Posta</th>
                <th class=" border-2">Autor</th>
                <th class=" border-2">Treść</th>
                <th class=" border-2">Zdjęcie</th>
                <th class=" border-2">Opcje</th>
            </tr>
        </thead>
        <tbody class="text-center ">
        {% for post in posts %}
            <tr class="align-top">
                <td class="border-2">{{ post.id }}</td>
                <td class="border-2">{{ post.title|length > 30? post.title|slice(0,26)~post.title|slice(-4):post.title }}</td>
                <td class="border-2">
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_status_show', {'id': post.status.id}) }}">{{post.status}}</a>
                {% else %}
                    {{ post.status }}
                {% endif %}
                </td>
                <td class="border-2"><a href="{{path('app_user_show',{id:post.postOwner.id})}}">{{ post.postOwner }}</a></td>
                {% if post.content|length > 170  %}
                    <td class="border-2">{{ post.content|slice(0,170) }}</td>
                {% else %}
                    <td class="border-2">{{ post.content }}</td>
                {% endif %}
                {# <td class="border-2">{{ post.image|length > 30? post.image|slice(0,26)~post.image|slice(-4):post.image}}</td> #}
                <td><a href="{{path('app_post_show',{id:post.id})}}">{{include('post/_post_image.html.twig',{'height':24, 'width':24, 'fa':'6x' ,post:post})}}</a></td>
                <td class="border-2">
                    <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_post_show', {'id': post.id}) }}">Pokaż</a></div>
                    <div class="border-x-2 border-b-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_post_edit', {'id': post.id}) }}">Edytuj</a></div>
                    <div class="border-x-2 border-b-2 bg-blue-500 w-full hover:bg-blue-400 text-white"><a href="{{ path('app_post_archive', {'id': post.id}) }}">Archiwizuj</a></div>
                    <div>{{ include('post/_delete_form.html.twig') }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
