{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<div class="w-8/12  mx-auto mt-4 ">
    <div class="border-b-2 border-gray-600 text-2xl px-2">{{post.title}}</div>
    <div class="text-white bg-gray-600 rounded-lg w-28 text-center p-1 mt-2">{{post.createdAt|date('d-m-Y')}}</div>
    <div class=" rounded-md mt-1 p-4">{{post.content|nl2br }}</div>

    {% if is_granted("ROLE_PRACOWNIK") %}
    <a href="{{ path('app_post_index') }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white text-center" >Lista Postów</div></a>
        {% if app.user.id == post.postOwner.id %}
            <a href="{{ path('app_post_edit', {'id': post.id}) }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white text-center" >Edytuj</div></a>
            <a href="{{ path('app_post_archive', {'id': post.id}) }}"><div class="border-2 bg-blue-500 w-full hover:bg-blue-400 text-white text-center" >Archiwizuj</div></a>
            <div>{{ include('post/_delete_form.html.twig') }}</div>
        {% endif %}
    {% endif %}

</div>


{% endblock %}
