{% extends 'base.html.twig' %}

{% block title %}Zmień Hasło{% endblock %}

{% block body %}
{# ,{'attr':{'novalidate':'novalidate'}} #}
    {{ form_start(form)}}
    <div class="flex-col w-1/4 mx-auto justify-center mt-10 shadow-xl">
        <div class= "mb-2 text-2xl text-center mx-auto w-60">Zmiana Hasła</div>
        {% if form.oldPassword is defined %}
        <div class="w-64 mx-auto ">        
            {{ form_label(form.oldPassword,'Stare Hasło',{'label_attr':{'class':'block text-center'}}) }}
            {{ form_widget(form.oldPassword,{'attr':{'class':'w-60 shadow-sm border border-gray-300 rounded-md p-2 mt-1 mb-2'}} )}}
            {{ form_errors(form.oldPassword) }}
        </div>
        {% endif %}
        <div class="w-64 mx-auto">        
            {{ form_label(form.password.first,'Nowe Hasło',{'label_attr':{'class':'block text-center'}}) }}
            {{ form_widget(form.password.first,{'attr':{'class':'w-60 shadow-sm border border-gray-300 rounded-md p-2 mt-1 mb-2'}} )}}
            {{ form_errors(form.password.first) }}
        </div>
        <div class="w-64 mx-auto">        
            {{ form_label(form.password.second,'Powtórz Nowe Hasło',{'label_attr':{'class':'block text-center'}}) }}
            {{ form_widget(form.password.second,{'attr':{'class':'w-60 shadow-sm border border-gray-300 rounded-md p-2 mt-1 mb-2'}} )}}
            {{ form_errors(form.password.second) }}
        </div>
        <button class="btn border-2 bg-green-500 w-full hover:bg-green-400 text-white">Zmień</button>
        <div class=" w-full border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white text-center"><a href="{{ path('app_user_edit', {'id': user.id}) }}">Powrót</a></div>
    </div>
    {{ form_end(form)}}
    
{% endblock %}