{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}
<div class="flex-col mt-10">
    <div class="text-2xl text-center mb-2 ">Użytkownicy</div>
    <div class="text-xl text-center mb-2 text-green-500 hover:text-green-400"><a href="{{path('app_user_new')}}">Dodaj Nowego Użytkownika</a></div>
    <table class="table w-11/12 border-1 shadow-xl mx-auto">
        <thead lass="text-center">
            <tr>
                <th class=" border-2">Id</th>
                <th class=" border-2">Nazwa Użytkownika</th>
                <th class=" border-2">Role</th>
                <th class=" border-2">Email</th>
                <th class=" border-2">Opis</th>
                <th class=" border-2">Profil Faceebok</th>
                <th class=" border-2">Numer Telefonu</th>
                <th class=" border-2">Zdjęcie Profilowe</th>
                <th class=" border-2">Opcje</th>
            </tr>
        </thead>
        <tbody class="text-center ">
        {% for user in users %}
            <tr class="align-top ">
                <td class="border-2">{{ user.id }}</td>
                <td class="border-2"><a href="{{path('app_user_show',{id:user.id})}}">{{ user.username }}</a></td>
                <td class="border-2">
                {# {{ user.roles ? user.roles|json_encode : '' }} #}
                {% if user.roles %}
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            {{"Admin"}}
                        {% elseif role == "ROLE_PRACOWNIK" %}
                            {{"Pracownik"}}
                        {% elseif  role == "ROLE_CLIENT" %}
                            {{"Klient"}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
                <td class="border-2">{{ user.email }}</td>
                {% if user.description|length > 30  %}
                    <td class="border-2">{{ user.description|slice(0,100)~"..."}}</td>
                {% elseif user.description|length  > 0 %}
                    <td class="border-2 ">{{user.description}}</td>
                {% else %}
                    <td class="border-2 text-red-500">Brak Opisu</td>
                {% endif %}
                <td class="border-2"><a href ="#">{{ user.facebookProfile }}</a></td>
                {% if user.phoneNumber|length >= 9  %}
                    <td class="border-2">{{user.phoneNumber}}</td>
                {% else %}
                    <td class="border-2 text-red-500">Brak Numeru</td>
                {% endif %}
                <td class="border-2"><a href="{{path('app_user_show',{id:user.id})}}">{{include('user/_user_avatar.html.twig',{'height':20,'width':20, user:user})}}</a></td>
                <td>
                    <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_user_show', {'id': user.id}) }}">Pokaż</a></div>
                    {% if "ROLE_ADMIN" not in user.roles or user.id == app.user.id %}
                        <div class="border-x-2 border-b-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_user_edit', {'id': user.id}) }}">Edytuj</a></div>
                        <div>{{ include('user/_delete_form.html.twig') }}</div>
                    {% endif %}
                    
                    
                    
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
