{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}

<div class="flex-col mt-10">
    <div class="text-2xl text-center mb-2 ">Użytkownicy</div>
    <div class="text-xl text-center mb-2 text-green-500 hover:text-green-400"><a href="{{path('app_user_new')}}">Dodaj Nowego Użytkownika</a></div>
    <table class="table w-11/12 border-1 shadow-xl mx-auto">
        <thead lass="text-center">
            <tr>
                <th class=" border-2">Id</th>
                <th class=" border-2">Imie i Nazwisko</th>
                <th class=" border-2">Status</th>
                <th class=" border-2">Rola</th>
                <th class=" border-2">Email</th>
                <th class=" border-2">Opis</th>
                <th class=" border-2">Profil Faceebok</th>
                <th class=" border-2">Numer Telefonu</th>
                <th class=" border-2">Zdjęcie Profilowe</th>
                <th class=" border-2">Opcje</th>
            </tr>
        </thead>
        <tbody class="text-center ">
        {% for user in users %}
            <tr class="align-top ">
                <td class="border-2">{{ user.id }}</td>
                <td class="border-2"><a href="{{path('app_user_show',{id:user.id})}}">{{ user.name~" "~user.surname }}</a></td>
                <td class="border-2">
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_status_show', {'id': user.status.id}) }}">{{user.status}}
                {% else %}
                    {{user.status}}
                {% endif %}
                </td>
                <td class="border-2">
                {# {{ user.roles ? user.roles|json_encode : '' }} #}
                {% if user.roles %}
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            {{"Admin"}}
                        {% elseif role == "ROLE_PRACOWNIK" %}
                            {{"Pracownik"}}
                        {% elseif  role == "ROLE_CLIENT" %}
                            {{"Klient"}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
                <td class="border-2">{{ user.email }}</td>
                {% if user.description|length > 30  %}
                    <td class="border-2  max-w-xs">{{ user.description|slice(0,100)~"..."}}</td>
                {% elseif user.description|length  > 0 %}
                    <td class="border-2 ">{{user.description}}</td>
                {% else %}
                    <td class="border-2 text-red-500">Brak Opisu</td>
                {% endif %}
                {% if user.facebookProfile %}
                    <td class="border-2 align-middle"><a href ="{{user.facebookProfile}}" class = "" target='_blank'><i class="fa-brands fa-facebook-f fa-3x bg-[#4267B2] hover:bg-[#3156B1] rounded-md px-5 py-2 text-white"></i></a></td>
                {% else %}
                    <td class="border-2 align-middle"><i class="fa-brands fa-facebook-f fa-3x bg-[#94918A] rounded-md px-5 py-2 text-white"></i></td>
                {% endif %}
                
                {% if user.phoneNumber  %}
                    <td class="border-2">{{user.phoneNumber|slice(0,3)~'-'~user.phoneNumber|slice(3,3)~'-'~user.phoneNumber|slice(6,3)}}</td>
                {% else %}
                    <td class="border-2 text-red-500">Brak Numeru</td>
                {% endif %}
                <td class="border-2"><a href="{{path('app_user_show',{id:user.id})}}">{{include('user/_user_avatar.html.twig',{'height':20,'width':20, user:user})}}</a></td>
                <td>
                    <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_user_show', {'id': user.id}) }}">Pokaż</a></div>
                    {% if "ROLE_ADMIN" not in user.roles or user.id == app.user.id %}
                        <div class="border-x-2 border-b-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_user_edit', {'id': user.id}) }}">Edytuj</a></div>
                        <div class="border-x-2 border-b-2 bg-blue-500 w-full hover:bg-blue-400 text-white"><a href="{{ path('app_user_archive', {'id': user.id}) }}">Archiwizuj</a></div>
                        <div>{{ include('user/_delete_form.html.twig') }}</div>
                    {% endif %}
                    
                    
                    
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Main modal -->
<div id="defaultModal"  class="fixed  top-0.5 left-0.5 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full mx-auto top-1/3">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 ">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Niepowodzenie</h3>
            </div>
            <!-- Modal body -->
            <div class=" flex p-2">
                {% if (letArchive is defined and letArchive == false) or (letDelete is defined and letDelete == false) %}
                    <div class="flex flex-col w-1/2 text-white">
                    <p>Przekaż sprawy pracownika</p>
                        {% for case in casesToCorrect %}
                            <a href="{{path('app_adoption_case_show',{id:case.id})}}" target="_blank" class="hover:text-gray-200">{{case}}</a>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col w-1/2 text-white">
                    <p>Przekaż opieke nad psami</p>
                        {% for dog in dogsToCorrect %}
                            <a href="{{path('app_dog_show',{id:dog.id})}}" target="_blank" class="hover:text-gray-200  ">{{dog.id}}{{". "}}{{dog}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button onClick="modalHide()" type="button" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        function modalShow()
        {
              var x = document.getElementById("defaultModal");
                if (x.classList.contains('hidden')) 
                {
                    x.classList.remove('hidden');
                } 
        }
        function modalHide()
        {
            var x = document.getElementById("defaultModal");
                x.classList.add('hidden');
        }
    </script>

{% endblock %}
{% if (letArchive is defined and letArchive == false) or (letDelete is defined and letDelete == false) %}
    <script>modalShow()</script>
{% endif %}
{% endblock %}



