{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <div>
        {{ form_label(form.StatusName,'Tytuł',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.StatusName,{'attr':{'class':'w-full shadow-sm border border-gray-300 rounded-md p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.StatusName) }}
    </div>
    <div>
        {{ form_label(form.refersTo,'Status Użytkownika',{'label_attr':{'class':'block'}}) }}
        {{ form_widget(form.refersTo,{'attr':{'class':'w-11/12 shadow-sm border border-gray-300 rounded-md  p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.refersTo) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn border-2 bg-green-500 w-full hover:bg-green-400 text-white">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
