{% extends 'base.html.twig' %}

{% block title %}Nazwa Schroniska{% endblock %}
{% block head %}


{% endblock %}
{% block body %}

<section id="mainSlider">
    <div  class="relative " >
            <ul id='slider' class="transition-all duration-500">
                <li class="h-[60vh] opacity-100 ">
                        <p class="absolute text-4xl text-yellow-300 hover:text-yellow-200 top-80 left-64 bg-gray-600 rounded-lg p-2 z-10"><a href="{{path('app_dog_all')}}" >Psy Do Adopcji</a></p>
                        <img class="object-cover absolute block  h-full w-full  translate-x-{amount} " src="{{mainslider~'first.jpg'}}"/>  
                </li>
                <li class="h-[60vh]  hidden opacity-0">
                    <p class="absolute text-4xl text-yellow-300 hover:text-yellow-200 top-80 left-64 bg-gray-600 rounded-lg p-2 z-10"><a href="{{path('app_payment')}}" >Darowizna</a></p>
                    <img class=" object-cover h-full w-full" src="{{mainslider~'second.jpg'}}"/>
                </li>
                <li class="h-[60vh]  hidden opacity-0">
                    <p class="absolute text-4xl text-yellow-300 hover:text-yellow-200 top-80 left-64 bg-gray-600 rounded-lg p-2 z-10"><a href="{{path('app_post_all')}}" >Aktualności</a></p>
                    <img class=" object-cover h-full w-full" src="{{mainslider~'third.jpg'}}"/>
                </li>
            </ul>
        <div class="absolute flex h-full w-full top-0 left-0 px-5">
            <div class="my-auto  w-full flex justify-between">
                <button id="prevbutton" onclick = "prev()" class="bg-white p-3 rounded-full bg-opacity-80 shadow-lg" >
                    <i class="fa-solid fa-arrow-left "></i>
                </button>
                <button it="nextbutton" onclick ="next()" class="bg-white p-3 rounded-full bg-opacity-80 shadow-lg" >
                    <i class="fa-solid fa-arrow-right "></i>
                </button >
            </div>
        </div>
    </div>
</section>
<section id= "posts">
<div class=" flex flex-col items-center mt-10 ">
    <div class="text-3xl mb-4 text-gray-600">Aktualności</div>
    <div class="grid grid-cols-1 gap-2 sm:gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-8 lg:grid-cols-4 lg:gap-10 ">
        {% for post in posts %}
            <div class=" text-center border-2 border-gray-600 rounded-md p-0 m-0 ">
                <a class="p-0 m-0 " href="{{path('app_post_show',{id:post.id})}}">
                    <div class="relative ">
                        <div class="">{{ include('post/_post_image.html.twig',{'width':96,'height':96,post:post})}}</div>
                        <div class="px-2  text-2xl w-full   font-semibold absolute bottom-0 text-white bg-gray-700 opacity-50 hover:opacity-75 ">{{ post.title|length > 60? post.title|slice(0,57)~'...':post.title|nl2br}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
</section>
<section id="footer" class="">
    <div class="flex  w-full mt-10  border-t-4 ">
        <div class=" flex flex-col  items-end w-1/2 border-r-2">
            <div class="flex flex-col items-center">
                <img class="h-40 w-40" src="{{pageimages~'logo.png'}}"/>
                <p class="text-2xl text-gray-600">Amstafy Niczyje Fundacja im. </p>
                <p>Numer Telefonu: +48 999 888 777</p>
                <p>Adres e-mail: amstafyniczyje@schronisko.com</p>
            </div>
        </div>
        <div class=" w-1/2  grid grid-cols-1  content-center border-l-2">
            <a href="#" class="flex mb-2 ml-2"><i class="fa-regular fa-envelope fa-2x"></i><p class="ml-2">amstafyniczyje@schronisko.com</p></a>
            <a href="#" class="flex mb-2 ml-2"><i class="fa-solid fa-phone fa-2x"></i><p class="ml-2">+48 999 888 777</p></a>
            <a href="#" class="flex mb-2 ml-2"><i class=" fa-brands fa-square-facebook fa-2x "></i><p class="ml-2">Napisz do nas na Facebooku</p></a>
            <a href="#" class="flex mb-2 ml-2"><i class="fa-brands fa-youtube fa-2x" ></i><p class="ml-2">Poznaj nas lepiej</p></a>
            <a href="#" class="flex mb-2 ml-2"><i class="fa-brands fa-instagram fa-2x"></i><p class="ml-2">Obserwuj nas na Instagramie</p></a>
        </div>
    </div>
    <p class="border-t-2 text-center">© 2023 Schronisko dla Bezdomnych Zwierząt "Amstaffy Niczyje" </p>
    
</section>
{% block javascripts %}
<script>
currentSlideId = 1;
sliderElement = document.getElementById('slider');
console.log(sliderElement);
totalSlides = sliderElement.childElementCount;
slides = document.getElementById('slider').getElementsByTagName('li');
function next()
{
    if(currentSlideId < totalSlides)
    {
        const element = slides[currentSlideId];
        currentSlideId++;
        showSlide();
    }
    else
    {
        currentSlideId = 1;
        showSlide();
    }

}

function prev()
{
    if(currentSlideId > 1)
    {
        currentSlideId--;
        showSlide();
    }
    else
    {
        currentSlideId = totalSlides;
        showSlide();
    }
}

function showSlide()
{

    for(let index = 0; index < totalSlides; index++)
    {
        const element = slides[index];
        if(currentSlideId===index+1)
        {
            element.classList.remove('hidden')
            element.classList.remove('opacity-0')
        }
        else
        {
            element.classList.add('hidden')
            element.classList.add('opacity-0')
        }
    }
}


</script>

{% endblock %}




{% endblock %} 