<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css " >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <div id="menuBtn" class="absolute cursor-pointer" onclick="openMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div id="sideBar" class="fixed top-0 w-44 bg-gray-600 left-full h-screen">
            <div id="close-btn" class="flex justify-end mr-2" onclick="closeMenu()">
                <i class="fas fa-times text-yellow-300 hover:cursor-pointer hover:text-yellow-200 mt-1"></i>
            </div>
            <div id="menu" class="bg-gray-600 ">
                <div class="mx-8 text-yellow-300 hover:text-yellow-200"><a href = "{{path('app_adoption_case_index')}}"><p>Sprawy Adopcji</p><i class="fa-solid fa-briefcase  fa-4x mt-4 flex justify-center"></i></a></div>
                <div class="mx-8 text-yellow-300 hover:text-yellow-200"><a href = "{{path('app_dog_index')}}"><p>Psy</p><i class="fa-solid fa-dog fa-4x mt-4 flex justify-center"></i></a></div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="mx-8 text-yellow-300 hover:text-yellow-200"><a href = "{{path('app_user_index')}}"><p>Użytkownicy</p><i class="fa-solid fa-user  fa-4x mt-4 flex justify-center"></i></a></div>
                {% endif %}
                <div class="mx-8 text-yellow-300 hover:text-yellow-200"><a href = "{{path('app_documents_index')}}"><p>Dokumenty</p><i class="fa-solid fa-folder-open fa-4x mt-4 flex justify-center"></i></a></div>
                <div class="mx-8 text-yellow-300 hover:text-yellow-200"><a href = "{{path('app_post_index')}}"><p>Posty</p><i class="fa-solid fa-message fa-4x mt-4 flex justify-center"></i></a></div>
            </div>
        </div>
        <script>
            function openMenu(){
                document.querySelector('#sideBar').classList.toggle('left-0');
            }
            function closeMenu(){
                document.querySelector('#sideBar').classList.remove('left-0');
            }
        </script>
    </body>

</html>
